.login-page {
    display: flex;
    gap: 20px;
    height: 100%;
    justify-content: center;
    background: url(../illustrations/sign-up\ illustration.png);
    background-position: center;
    /* background-size: cover; */
}

.illustration {
    width: 0;
}

.login-form {
   transform: translateY(100px);
   height: 300px;
   width: 90%;
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;
   box-shadow: 0 0 20px rgba(136, 230, 217, 0.788);
}

.login-ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.login-ul li {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

label {
    font-weight: 700;
    font-size: 14px;
    margin-left: 10px;
}

.input {
    outline: none;
    border: 1px solid grey;
    width: 200px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 11px;
}

.login-btn {
    outline: none;
    border: 1px solid grey;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(30, 26, 43);
    color: white;
    font-size: 14px;
    font-weight: 700;
}