.suggestions {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    border-radius: 7px;
}

.upper-most {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.upper-most  h2{
    font-size: 1.2rem;
    width: 100%;
}

.see-all {
    color: grey;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.07 ease-in;
    white-space: nowrap;
}

.see-all:hover {
    color: rgb(26, 25, 25);
}

.all-suggestion {
    display: flex;
    gap: 15px;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;

}

.all-suggestion::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.1rem;
  }


.add-new {
    display: flex;
    align-items: center;
    gap: 10px;
}
.add-new .img_wrapper {
    width: 50px !important;
    height: 50px !important;
    background-color: grey;
}


.new-name {
    flex: 2;
}

.new-name p {
    font-size: 14px;
    font-weight: bolder;
}

.time {
    color: grey;
}

.add-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    font-size: 17px;
    justify-content: center;
    border: 1px solid;
    cursor: pointer;
    transition: all 0.07s ease-in;
    margin-right: 0.8rem;
}

.add-icon:hover {
    opacity: 0.6;
}