.forget-page {
    padding: 15px 5px;
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
}

.forget-email-cont{
    gap: 20px;
}

.going-back {
    font-weight: bolder;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
    transition: all 0.05s ease-in-out ;
}

.going-back:hover {
    opacity: 0.8;
    cursor: pointer;
}

.forget-pass-cont {
    gap: 5px;
}

.forget-info {
    color: orangered;
    opacity: 0.8;
    font-size: 13px;
}

.both {
    gap: 10px;
}

.email-cont label {
    margin: 0;
}

.forget-input {
    outline: none;
    border: 1px solid grey;
    width: 95%;
    height: 40px;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 15px;
}

.verify-email {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.verify-email button {
    outline: none;
    border: 1px solid rgb(34, 98, 170);
    width: 190px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(34, 98, 170);
    color: white;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.05s ease-in-out;
}

.verify-email button:hover, .verify-email button:focus {
    cursor: pointer;
    box-shadow: 0 0 20px #6b63ffcc;
}